
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.square{
border-radius: 15px;
}
/* colors 
### Neutral


- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%)*/
:root{
    --orange-color:hsl(26, 100%, 55%);
    --PaleOrange: hsl(25, 100%, 94%);
    --veryDarkBlue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
}

.container{
    max-width:  1440px;
    min-width: 70%;
    margin: 0 auto;
    
    
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 16px;
    width: 90%;
}
nav ul{
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    align-items: center;
    
}

nav a, li{
    list-style: none;
    text-decoration: none;
    color: var(--dark-grayish-blue);
    
}
nav a{
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
    margin: 0 15px;
    padding: 0 0 25px 0;
}

nav a:hover{
    border-bottom: solid var(--orange-color);
    transition: .1s;
    color: var(--veryDarkBlue);
}
.logo{
    width: 170px;
    height: 30px;
    padding: 0 30px 0 0;

    
}
.bag-avatar{
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.bag{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.bag:hover{
    opacity: .6;
}
.avatar{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 85vh;
    flex-wrap: wrap;
    margin-top: 23px;
}
/* .left-side */
.left-side{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whole-img{
    width: 80%;
    height: 70%;
    background: url(/images/image-product-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin-top: 30px;
    border-radius: 15px;
}

.left-side img{
    width: 130px;
    cursor: pointer;
}
.left-side img:hover{
    opacity: .2;
}

.imagenes-juntas{
    width: 80%;
    margin: 20px 0;
    
    display: flex;
    justify-content: space-between;
}


/* .right-side */
.right-side{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.right-side-container{

    width: 80%;
}
h1{
    color: var(--grayish-blue);
    letter-spacing: 1px;
}

h2{
    font-size: 3rem;
}
.price-box{
    width: 38%;
    display: flex;
    flex-wrap: wrap;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
    margin-left: 20px;
    padding: 5px;
    background-color: var(--veryDarkBlue);
    color: var(--white);
    
}
h5{
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 20px;
    text-decoration: line-through;
    color: var(--grayish-blue);
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.number-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.number-btn img{
    width: 20px;
    
    
}
.contador{
    margin: 25px 40px;
    font-size: 1.2rem;
    font-weight: 700;
}
.number-of-items-added-to-bag{
    font-size: 1.2rem;
    font-weight: 700;
}
.add-to-bag-btn{
    background-color: var(--orange-color);
    width: 50%;
    margin-left: 40px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 20px 0;
}

.add-to-bag-btn:hover{
    opacity: .5;
}




.fa-solid{
    margin-right: 20px;
}




.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: var(--orange-color);
  }



.bags{
    position: relative;
    display: inline-block;
}
#extra-number{
    color: var(--orange-color);
    position: absolute;
    top: -15px;
    right: 1px;
    color: var(--orange-color);
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 1.1rem;
    font-weight: 700;
}

.shopping-cart{
    background-color: var(--light-grayish-blue);
    width: 380px;
    height: 170px;
    position: absolute;
    top: 40px;
    left: -130px;
    border-radius: 15px;
    display: none;
    padding: 20px;
    
}
.shopping-cart h6{
    font-weight: 700;
    font-size: 1.2rem;
    width: 100%;
    margin: 10px 0;
    padding: 0 0 10px 0;
    border-bottom: solid var(--orange-color) ;
}
.empty{
    display: block;
    color: var(--grayish-blue);
    font-size: 1.2rem;
    user-select: none;
}
.shopping-cart-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    
}
.total-amount{
    margin: 0 auto;
}
.shopping-cart img{
    width: 70px;
}
.trash{

    border: none;
    background-color: transparent;
    padding: 0;
}
.trash-can{
    color: var(--orange-color);
    cursor: pointer;
    padding: 0;
    margin: 0;
}